body{
    background-color: 
    rgb(153, 24, 136);
    font-family: Arial, sans-serif

}

head{
    background-color: 
    rgb(69, 69, 226);
    text-aling: center;
    padding: 30px;
}

h1 {
    font-size: 30px;

    h2 { 
     color: 

    }